
@{
    ViewData["Title"] = "ProcessLogin";
}

<h1>Welcome back @ViewBag.fName!</h1>

<h2>Trainer No.# @ViewBag.trainerId</h2>

<h3>PokeDex completion: @ViewBag.Pokedex/150</h3>
<h3>Total space used: @ViewBag.Space/240</h3>

